body, input {
    color: #3E3E3E;
    font-family: Calibri, Verdana, "lucida console", sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 0;
}

#content {
    clear: both;
}

#content ul.container {
    margin: 5px 0 10px;
    padding: 0;
}

#content ul.container li {
    list-style-type: none;
    margin: 0;
    padding: 5px 20px 0;
}

#content ul.container li.branch span.text {
    cursor: pointer;
}
/*
#content ul.branch li.leaf > span.after {
    padding-left: 5px;
    visibility: hidden;
}

#content ul.branch li.leaf > span.after span {
    color: #00f;
    padding: 0 3px;
    margin: 0 2px;
    cursor: pointer;
}

#content ul.branch li.leaf div.item:hover span.after {
    visibility: visible;
}
*/

#content ul.container li.add {
    padding: 3px 17px 0;
}

#content ul.container li.add input {
    font-style: italic;
    padding: 2px;
    border: none;
    border-bottom: 1px solid transparent;
}

#content ul.container li.add input.hasinput {
    font-style: normal;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #00f;
}

a.external {
    color: #f00;
}

#logmessages {
    position: absolute;
    right: 20px;
    width: 20%;
    top: 2px;
}

#logmessages div {
    background-color: #666;
    color: #fff;
    padding: 5px;
    margin: 2px 0;
    width: 100%;
    font-size: 12px;
}
