body, input {
    color: #3E3E3E;
    font-family: Calibri, Verdana, "lucida console", sans-serif;
    font-size: 14px;
}

h1 {
    margin-top: 0;
}

#content {
    clear: both;
}

#content ul {
    margin: 5px 0 10px;
    padding: 0;
}

#content ul li {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

#content ul li.item > div.item span.text {
    cursor: pointer;
}

#content ul li span.after {
    padding-left: 5px;
    visibility: hidden;
}

#content ul li span.after span {
    color: #00f;
    padding: 0 3px;
    margin: 0 2px;
    cursor: pointer;
}

#content ul li div.item:hover span.after {
    visibility: visible;
}

#content ul li.action span.add {
    font-style: italic;
    color: #00f;
    cursor: pointer;
}

#content form.add-form {
    padding: 0;
    margin-left: -4px;
    margin: 0;
}

#content input {
    padding: 2px;
}

a {
    text-decoration: none;
    color: #00f;
}

a.external {
    color: #f00;
}
