body {
    background: #333 url('bg.png') repeat top left;
    padding: 0;
    margin: 0;
}

body, textarea {
    color: #666;
    font-family: "PT Sans", Calibri, Verdana, "lucida console", sans-serif;
    font-size: 14px;
}

a, a:link {
    text-decoration: none;
    color: #F16C32;
}

#wrapper {
    margin: 20px 20px 10px;
    background-color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
}

#header {
    padding: 10px 30px 10px;
    overflow: auto;
    text-shadow: 0px 1px 1px #fff;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    background-image: -moz-linear-gradient(center top, rgb(204,204,204) 4%, rgb(153,153,153) 52%);
}

h1 {
    margin: 0;
    padding: 0;
    float: left;
}

h1 a {
    color: #333;
}

#menu {
    float: right;
    margin: 5px 0 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    color: #333;
}

#menu li span.username {
    font-weight: bold;
}

#menu li a {
    display: inline-block;
    background-color: #666;
    color: #fff;
    padding: 3px 7px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    text-shadow: 0px -1px 1px #ccc;
}

#menu li a:hover {
    color: #F16C32;
    text-shadow: none;
}

#search {
    float: right;
    margin: 5px 30px;
}

#searchresults {
    display: none;
}


/**
 * List styling
 */
#content {
    clear: left;
    margin: 0;
    padding: 5px 30px 10px;
}

#content ul.container {
    margin: 0 0 5px;
    padding: 5px 0 0;
    list-style-type: none;
}

#content ul.container li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px 0;
}

#content ul.container li.loading-progress > span.content {
    background: url('loading.gif') no-repeat scroll center right transparent;
    padding-right: 25px;
}

#content ul.container li.loading-progress > span.actions {
    visibility: hidden;
}

#content ul.container li ul.container {
    margin-left: 2px;
    border-left: 4px solid #ccc;
}

#content ul.container li ul.container li {
    padding-left: 10px;
}

#content ul.container li.branch span.toggle {
    cursor: pointer;
    width: 14px;
    height: 14px;
    display: inline-block;
}

#content ul.container li.has-children > span.meta span.toggle,
#content ul.container li.branch:hover > span.meta span.toggle {
    background: url('collapsed.png') no-repeat scroll 0px 5px transparent;
}

#content ul.container li.expanded > span.meta span.toggle,
#content ul.container li.expanded:hover > span.meta span.toggle {
    background: url('expanded.png') no-repeat scroll 0px 5px transparent;
}

#content ul.container li.branch span.content {
    color: #999;
}

#content ul.container li.branch span.content span.text {
    color: #666;
    font-size: 14px;
}

#content ul.container li.has-children > span.content span.text {
    color: #333;
}

#content ul.container li.branch span.actions {
    display: none;
    margin: 0;
    padding: 0 0 0 10px;
}

#content ul.container li.branch span.meta:hover span.actions,
#content ul.container li.branch span.meta span.action:hover {
    position: absolute;
    display: block;
    background-color: #fff;
    margin-top: -25px;
    margin-left: -22px;
    padding: 2px 8px 2px 5px;
}

#content ul.container li.branch span.edit {
    display: block;
    color: #F16C32;
    padding: 0 5px;
    margin: 1.5px 0 3px;
    cursor: pointer;
    background: url('edit.png') no-repeat scroll center center transparent;
    text-indent: -9999px;
    overflow: hidden;
}

#content ul.container li.branch span.move {
    display: block;
    color: #F16C32;
    padding: 0 5px;
    margin: 0 0 3px;
    cursor: move;
    overflow: hidden;
}

#content ul.container li.branch span.archive {
    display: block;
    color: #F16C32;
    padding: 0 5px;
    margin: 0 0 3px;
    cursor: pointer;
    background: url('archive.png') no-repeat scroll center center transparent;
    text-indent: -9999px;
    overflow: hidden;
}

#content ul.container li.branch span.content:hover~span.actions,
#content ul.container li.branch span.actions:hover {
    visibility: visible;
}

#content ul.container li.branch > span.content > textarea {
    width: 90%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin: -5px 0 -5px -2px;
    display: inline-block;
    vertical-align: middle;
}

#content ul.container li.add {
    padding: 0 0 2px 10px;
}

#content ul.container li ul.container li.add {
    padding: 0 0 2px 22px;
}

#content ul.container li.add span {
    display: inline-block;
    font-style: italic;
    padding: 2px 2px 0;
    padding-left: 23px;
    background: url('plus.png') no-repeat scroll 2px center transparent;
    height: 15px;
}

#content ul.container li.add textarea {
    width: 90%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

a.external {
    color: #f00;
}

#logmessages {
    position: absolute;
    right: 2px;
    width: 20%;
    top: 2px;
}

#logmessages #iron-logging-toggle {
    float: right;
}

#logmessages div {
    clear: right;
    background-color: #666;
    margin: 2px 0;
    width: 100%;
}

#logmessages div span {
    display: block;
    padding: 5px;
    font-size: 12px;
    color: #fff;
}

#footer {
    font-size: 75%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 2px #333;
}
